

  @mixin flex-col-center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  @mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @mixin flex-alingItems-justify {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin flex-wrap-center {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    
  }
@mixin flex-colum{
    display: flex;
    flex-direction: column;
}

@mixin center_center {
    justify-content: center;
    text-align: center;
    
}