$color-text:(
    text-1:  rgb(64, 64, 87),
    text-2: black,
    text-3:  white,
    text-4: rgb(7, 139, 42),
    text-5:  gray,
    text-6: rgb(255, 136, 0),
    text-7: red,
    text-8: rgb(131, 83, 98),
    text-9: blue,
    text-10: rgb(43, 41, 41),
   
);

$sombras: (
  sombraText-1: 5px 5px 20px rgba(0, 0, 0, 0.4),
  
  
  
);
  
  $bordes:(
  borde-1: 1px solid rgb(0, 0, 0),);